@import url("/fonts.css");
@import url("/heart.css");
@import url("/github-corner.css");
@import url("/base-style.css");
@import url("/theme-switcher.css");

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
	transition: 0.3s;

	background:    var(--color-scrollbar-thumb);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-scrollbar-thumb-hover);
}

:root {
	--doc-sidebar-width: 23rem;
}

html, body {
	font-size:   1em; /* 16px */
	font-family: open sans, sans serif;

	color:            var(--color-fg);
	background-color: var(--color-footer-bg);
}

html, body, * {
	margin:  0;
	padding: 0;
}

div.doc-content button.theme {
	z-index: 4096;

	transition: 0.1s;

	outline: none;
	border:  0;

	margin-top:   0.5rem;
	margin-right: 0.5rem;

	font-size: 1.5rem;

	color:            var(--color-fg);
	background-color: transparent;

	float: right;
}

button#back-to-top {
	transition: 0.3s;

	right:  1rem;
	bottom: 1rem;

	position: fixed;

	z-index: 1024;

	color:            var(--color-high-contrast-bg);
	background-color: var(--color-high-contrast-fg);

	box-shadow: 0 0.1rem 0.5rem #00000044;

	outline:       none;
	border:        0;
	border-radius: 100%;

	font-size: 1.2rem;

	width:       3rem;
	line-height: 3rem;

	opacity: 0;
}

footer#site-footer {
	text-align:  center;
	font-weight: bold;

	color:            var(--color-footer-fg);
	background-color: var(--color-footer-bg);

	padding: 3rem;
}

main#site-main {
	display: flex;

	background-color: var(--color-back);
}

section.doc-section:not(:first-child) {
	margin-top: 4rem;
}

div.doc-sidebar {
	box-sizing: border-box;
	width:      var(--doc-sidebar-width);

	background-color: var(--color-bg);

	box-shadow: 0 0.1rem 1rem #0000000a;
}

div.doc-sidebar-fixed {
	box-sizing: border-box;
	width:      var(--doc-sidebar-width);

	position: fixed;

	display: flex;
	flex-direction: column;
}

nav.doc-nav {
	color:            var(--color-fg);
	background-color: transparent;

	overflow-y: scroll;
}

nav.doc-nav ul {
	list-style: none;
}

ul.nav-doc-nest-1 {
	margin: 0.5rem 0rem !important;
}

ul.nav-doc-nest-2 a {
	padding-left: 2.5rem !important;
}

ul.nav-doc-nest-3 a {
	padding-left: 3.5rem !important;
}

ul.nav-doc-nest-4 a {
	padding-left: 4.5rem !important;
}

nav.doc-nav a {
	color: var(--color-fg);

	text-decoration: none;

	display: block;

	padding:      0.4rem;
	padding-left: 1.5rem;
}

nav.doc-nav a span.inline-code {
	color:   var(--color-fg);
	padding: 0.1rem;
}

nav.doc-nav a:hover {
	font-weight: bold;

	color: var(--color-accent-bg);
}

nav.doc-nav a:hover span.inline-code {
	color: var(--color-accent-bg);
}


nav.doc-nav a {
	border-top: dashed 1px var(--color-back-alt);
}

ul.nav-doc-nest-1 > li:first-child > a:first-child {
	border-top: 0;
}

ul.nav-doc-nest-1 li:hover a {
	border-left: solid 5px var(--color-accent-bg);
}

ul.nav-doc-nest-1 li:hover ul a {
	border-left: 0;
}

ul.nav-doc-nest-1 li ul {
	display: none;
}

ul.nav-doc-nest-1 li:hover ul {
	display: block;
}

.doc-sidebar-title2 {
	opacity: 0.7;
}

.doc-sidebar-header {
	color:            var(--color-accent-fg);
	background-color: var(--color-accent-bg);

	padding: 1.5rem;
}

div.doc-page {
	box-sizing: border-box;

	width: calc(100% - var(--doc-sidebar-width));
}

div.doc-content {
	background-color: var(--color-bg);

	margin:  2rem;
	padding: 2rem;

	box-shadow: 0 0.1rem 1rem #0000000a;
	box-sizing: border-box;
}

div.doc-content div.container {
	display: block;
	margin:  1.2rem auto;

	max-width: 60rem;
}

@media screen and (max-width: 1100px) {
	div.doc-sidebar, div.doc-page {
		width: 100%;
	}

	div.doc-content {
		margin:     0;
		margin-top: 2rem;
	}

	main#site-main {
		flex-direction: column;
	}

	div.doc-sidebar-fixed {
		width:    100%;
		position: static;
	}
}

@media screen and (min-width: 1100px) {
	height: 100vh;
}

span.inline-code {
	font-weight: bold;

	background-color: var(--color-back);
	color:            var(--color-accent-bg);

	font-family: monospace;

	padding: 0.2rem;

	border-radius: 0.3rem;
}

div.code:not(:last-child) {
	margin-bottom: 2rem;
}

div.code span.code-line {
	counter-increment: line;
}

div.code:before {
	counter-reset: line;
}

div.code span.code-line:before {
	content: counter(line);

	display: inline-block;
	padding-right: 1rem;
	width: 2rem;
	text-align: right;
	color: var(--color-accent-bg);
}

div.code header.code-header {
	padding:      0.3rem;
	padding-left: 0.5rem;

	background-color: var(--color-accent-bg);

	border-radius: 0.3rem 0.3rem 0 0;
}

div.code header.code-header p {
	color: var(--color-accent-fg);

	font-weight: bold;
}

div.code header.code-header a {
	color: var(--color-accent-fg);

	font-weight: bold;
}

div.code pre.code-content {
	font-family: monospace;

	padding: 0.5rem;

	background-color: var(--color-back);

	border-radius: 0 0 0.3rem 0.3rem;
}

span.tok {
	font-weight: bold;
}

span.tok-preproc {
	color: var(--color-tok-preproc);
}

span.tok-str {
	color: var(--color-tok-str);
}

span.tok-num {
	color: var(--color-tok-num);
}

span.tok-keyword {
	color: var(--color-tok-keyword);
}

span.tok-escape {
	color: var(--color-tok-escape);
}

span.tok-comment {
	color: var(--color-tok-comment);
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.4rem;
}

h4 {
	font-size: 1.2rem;
}

section.doc-section ul {
	margin-left: 1.5rem;
}

section.doc-section p:not(:last-child), section.doc-section ul:not(:last-child) {
	margin-bottom: 2rem;
}

section.doc-section h2, section.doc-section h3, section.doc-section h4 {
	padding-bottom: 0.5rem;
	padding-top:    0.5rem;
}

section.doc-section h1 {
	color:            var(--color-accent-fg);
	background-color: var(--color-accent-bg);

	width: max-content;

	padding: 0.1rem 0.5rem;

	margin-bottom: 1rem;
}

section.doc-section a {
	color: var(--color-accent-bg);

	padding: 0.1rem 0.1rem;
}

section.doc-section a:hover {
	color:            var(--color-accent-fg);
	background-color: var(--color-accent-bg);
}

pre {
	white-space: pre-wrap;
}
