:root.light, :root {
	--color-high-contrast-bg: #ffffff;
	--color-high-contrast-fg: #000000;

	--color-scrollbar-track:       #eeeeee;
	--color-scrollbar-thumb:       #bbbbbb;
	--color-scrollbar-thumb-hover: #aaaaaa;

	--color-bg: #ffffff;
	--color-fg: #000000;

	--color-footer-bg: #3a3e46; /* 323337 */
	--color-footer-fg: #ffffff;

	--color-back:     #f3f3f3;
	--color-back-alt: #d0d0d0;
}

:root.dark {
	--color-high-contrast-bg: #000000;
	--color-high-contrast-fg: #ffffff;

	--color-scrollbar-track:       #000000;
	--color-scrollbar-thumb:       #999999;
	--color-scrollbar-thumb-hover: #aaaaaa;

	--color-bg: #222429; /* 242528, 191a1d */
	--color-fg: #ffffff;

	--color-footer-bg: #0c0c0c;
	--color-footer-fg: #ffffff;

	--color-back:     #1d1e21; /* 1d1d20, 131315 */
	--color-back-alt: #2d2f33; /* 242528 */
}
