@import url("/docs/base/theme.css");

:root {
	--color-accent-fg: #ffffff;

	--color-tok-preproc: #d17621;
	--color-tok-str:     #77b04c;
	--color-tok-num:     #2e9af0;
	--color-tok-keyword: #fc4798; /* f54091 */
	--color-tok-escape:  #be68fc;
	--color-tok-comment: #828282;
	--color-tok-sep: #ffffff;
	--color-tok-op: #ffffff;
	--color-tok-term: #ffffff;
}

:root.light {
	--color-accent-bg: #9883d0; /* 257ad5, 4295ef */
}

:root.dark {
	--color-accent-bg: #d57366;

	--color-bg:       #0a1e2f;
	--color-back:     #001a28;
	--color-back-alt: #1c2c42;
}
