@import url("/theme.css");
@import url("/fonts.css");

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
	transition: 0.3s;

	background:    var(--color-scrollbar-thumb);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-scrollbar-thumb-hover);
}

h1#page-title-text {
	--title:"Welcome!"; /* Do NOT add a space before the string, it will BREAK (oh my god) */
}

html, body {
	font-size:   1.05em; /* 17px */
	font-family: open sans, sans serif;

	color:            var(--color-fg);
	background-color: var(--color-bg);
}

html, body, * {
	margin:  0;
	padding: 0;
}

:root {
	--underline-thickness: 1px;
	--underline-offset:    0.1rem;

	--font-size-page-title: 3.7rem;
	--max-width: 1100px;

	--color-tool-linux:  #000000;
	--color-tool-micro:  #2e3192;
	--color-tool-c:      #03599c;
	--color-tool-cxx:    #9c033a;
	--color-tool-golang: #0cb2db;
	--color-tool-lua:    #000080;
	--color-tool-html:   #e44d26;
	--color-tool-css:    #1572b6;
	--color-tool-pascal: #e7a51f;
}

main#site-main h1 {
	font-family: mont heavy, sans serif;
	font-weight: bold;
	font-size:   2.7rem;
}

main#site-main p {
	padding:   0.1rem 0;
	font-size: 1rem;
}

a {
	transition: 0.1s;

	text-decoration:           underline;
	text-decoration-thickness: var(--underline-thickness);
	text-underline-offset:     var(--underline-offset);
}

a:hover {
	text-decoration: none;
}

main#site-main ul {
	margin-left: 1.2rem;
}

main#site-main a {
	padding: 0.1rem 0.1rem;

	color: var(--color-link);
}

main#site-main a:hover {
	color:            var(--color-high-contrast-bg);
	background-color: var(--color-link);
}

button {
	cursor: pointer;
}

.shadow {
	box-shadow: 0 0.1rem 0.5rem #00000022;
}

.left {
	float: left;
}

.right {
	float: right;
}

div.clearfix {
	clear: both;
}

i.icon-prefix {
	margin-right: 0.5em;
}

@media screen and (max-width: 760px) {
	html, body {
		font-size: 0.9em; /* 15px */
	}
}

@media screen and (max-width: 500px) {
	:root {
		--font-size-page-title: 3rem;
	}
}

@media screen and (max-width: 400px) {
	:root {
		--font-size-page-title: 11vw;
	}
}

button#back-to-top {
	transition: 0.3s;

	left:   50%;
	right:  50%;
	bottom: 1rem;

	transform: translate(-50%, 0%);
	position: fixed;

	z-index: 1024;

	color:            #ffffff;
	background-color: var(--color-blue);

	box-shadow: 0 0.1rem 0.5rem #00000044;

	outline:       none;
	border:        0;
	border-radius: 100%;

	font-size: 1.2rem;

	width:       3rem;
	line-height: 3rem;

	opacity: 0;
}

.prompt {
	margin-right: 1ch;
	color: var(--color-green);
}

section#page-title {
	padding: 4rem 1.5rem;
	display: inline-block;

	width:      100%;
	box-sizing: border-box;
}

div#page-title-center {
	display: block;
	margin:  0 auto;

	font-size: var(--font-size-page-title);
	width:     fit-content;
}

div.page-title-container {
	font-size: 1rem;
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

p.page-title-desc {
	margin-top: 0.4rem;

	color:     #ffffff;
	font-size: 1.1rem;
}

h1#page-title-text {
	font-family: monospace;
	font-weight: bold;
	color:       #ffffff;
	font-size:   var(--font-size-page-title);

	white-space: nowrap;
	overflow:    hidden;

	border-right: 0.6em solid var(--color-yellow);

	animation: blink 1s infinite;
}

ul.socials {
	display:    flex;
	list-style: none;
}

ul.socials a {
	transition: 0.1s;

	font-size: 1.7rem;
	padding:   0 0.5rem;

	border-radius: 0.5rem;

	color: #ffffff;
}

ul.socials a:hover {
	color: #ffffff;
}

header#site-header {
	padding-top: 1rem;

	box-sizing: border-box;
	width:      100%;

	background-size:     cover;
	background-position: center;
	background-color:    var(--color-header-bg);
	background-image:    url("/res/imgs/back.png");

	box-shadow: 0 0.1rem 2rem #00000044;
}

section.page-section div.content {
	padding: 2rem 1.5rem;

	width: 100%;
	box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
	section.page-section div.content {
		padding: 4rem 1.5rem;
	}
}

section.page-section {
	background-color: var(--color-bg);
}

div.tools {
	width: 100%;
	display: flex;
	flex-grow: 0;
	justify-content: space-between;
}

header.section-header p {
	padding: 0;
	margin:  0;

	margin-top: -0.5rem;

	opacity: 0.7;

	color: var(--color-fg);

	font-size:  0.9rem;
	font-style: italic;
}

header.section-header h1 {
	padding: 0;
	margin:  0;

	color: var(--color-blue);

	font-size: 2.85rem !important;
}

header.section-header {
	padding-bottom: 2rem;
}

section.section-dark {
	color:            #ffffff;
	background-color: var(--color-dark-blue);
}

section.section-dark a {
	color: var(--color-light-blue) !important;
}

section.section-dark a:hover {
	color:            var(--color-dark-blue) !important;
	background-color: var(--color-light-blue) !important;
}

section.section-dark header.section-header h1 {
	color: var(--color-light-blue);
}

section.section-dark header.section-header p {
	color:   var(--color-light-blue);
}

section.section-light {
	color:            #000000;
	background-color: var(--color-light-blue);

	background-size:     cover;
	background-position: center;
	background-image:    url("/res/imgs/back2.png");
}

section.section-light a {
	color: var(--color-dark-blue) !important;
}

section.section-light a:hover {
	color:            var(--color-light-blue) !important;
	background-color: var(--color-dark-blue) !important;
}

section.section-light header.section-header h1 {
	color: var(--color-dark-blue);
}

section.section-light header.section-header p {
	color:   var(--color-dark-blue);
}

img.wave {
	width: 100%;

	display: block;

	background-color: var(--color-bg);

	max-height: 8rem;
	min-height: 3rem;
}

.light img.bottom-wave {
	content: url("/res/imgs/wave-bottom-light.png");
}

.dark img.bottom-wave {
	content: url("/res/imgs/wave-bottom-dark.png");
}

.light img.top-wave {
	content: url("/res/imgs/wave-top-light.png");
}

.dark img.top-wave {
	content: url("/res/imgs/wave-top-dark.png");
}

section.section-dark img.top-wave {
	background-color: transparent;
}

section.section-light img.top-wave {
	content: url("/res/imgs/wave-blue.png");

	background-color: transparent;
}

section.section-light img.bottom-wave {
	background-color: transparent;
}

header#site-header img.bottom-wave {
	background-color: transparent;
}

footer#site-footer img.top-wave {
	background-color: transparent
}

main#site-main {
	box-sizing: border-box;
	width:      100%;

	background-color: transparent;

	box-shadow: 0 0.1rem 2rem #00000044;
}

nav#site-nav ul {
	display:         flex;
	justify-content: center;

	list-style: none;
}

nav#site-nav a {
	transition: 0.1s;

	display: block;

	padding: 1rem 1.2rem;

	color: #ffffffee;

	text-decoration: none;
}

nav#site-nav a:hover {
	text-decoration:           underline;
	text-decoration-thickness: 2px;
	text-underline-offset:     var(--underline-offset);
}

nav#site-nav li.active a {
	font-weight: bold;
	color:       #ffffff;
}

.light button#light-theme {
	display: none;
}

.light button#dark-theme {
	display: block;
}

.dark button#light-theme {
	display: block;
}

.dark button#dark-theme {
	display: none;
}

header#site-header button.theme {
	transition: 0.1s;

	margin-top:   1rem;
	margin-right: 3rem;

	outline:       none;
	border:        0;
	border-radius: 100%;

	font-size: 1.7rem;

	width: 1.8rem;

	color:            #ffffff;
	background-color: transparent;

	float: right;
}

header#site-header button.theme:hover {
	color: #ffffff;
}

header#site-header a.icon {
	margin-top:  0.5rem;
	margin-left: 3rem;

	float: left;
}

header#site-header a.icon img {
	height: 3.2rem;
}

@media screen and (max-width: 550px) {
	header#site-header a.icon {
		margin:   0;
		position: static;

		float: none;
	}

	header#site-header button.theme {
		float:        none;
		margin-right: 0;
		position:     absolute;

		right: 1rem;

		font-size: 1.3rem;
	}

	header#site-header a.icon img {
		height: 2.7rem;

		padding: 0.5rem;
		margin:  0 auto;
		display: block;
	}
}

hr.gap {
	margin: 0.5rem;
	border: 0;
}

.heart {
	font-family: encode sans semi expanded black;
	color:       #ff4480;
	font-weight: bold;
	font-size:   1.2rem;
}

footer#site-footer {
	box-sizing: border-box;
	width:      100%;

	background-size:     cover;
	background-position: center;

	background-color: var(--color-footer-bg);
}

footer#site-footer p {
	font-size: 1.1rem;
}

div.footer-content {
	box-sizing: border-box;
	width:      100%;

	padding: 3rem 2rem 6rem 2rem;

	color: #ffffff;

	text-align: center;
}

div.footer-content ul.socials {
	justify-content: center;
}

footer#site-footer ul.links li {
	display: inline-block;
}

footer#site-footer ul.links a {
	transition: 0.1s;

	text-decoration: none;

	font-size: 1rem;
	padding:   0 0.5rem;

	border-radius: 0.5rem;

	color: var(--color-light-blue);
}

footer#site-footer ul.links li:not(:first-child) {
	border-left:  1px solid var(--color-light-blue);
	padding-left: 3px;
}

footer#site-footer ul.links a:hover {
	color: #ffffff;
	text-decoration:       underline;
	text-underline-offset: 0.1rem;
}

@media screen and (max-width: 410px) {
	footer#site-footer ul.links li {
		display: block;
		margin-top: 0.5rem;
	}

	footer#site-footer ul.links li:not(:first-child) {
		border-left: 0;
	}
}

ul.badges {
	display:         flex;
	justify-content: center;
	flex-wrap:       wrap;

	margin:  0 !important;
	padding: 0;

	list-style: none;

	/*
	padding: 1rem;

	background-color: #54586555;

	border-right:  solid 2px #000000;
	border-bottom: solid 2px #000000;

	border-left: solid 2px #ffffff55;
	border-top:  solid 2px #ffffff55;
	*/
}

ul.badges a:hover {
	background-color: transparent !important;
}

div.content {
	max-width: var(--max-width);
	margin:    0 auto;
	display:   block;
}

div#increment {
	text-align: center;
	margin:     1.5rem;

	display:         flex;
	justify-content: center;
}

div#increment iframe {
	border-right:  solid 2px #000000;
	border-bottom: solid 2px #000000;

	border-left: solid 2px #ffffff;
	border-top:  solid 2px #ffffff;
}

ul.tools {
	display:         flex;
	flex-wrap:       wrap;
	justify-content: center;

	list-style: none;

	margin:  0 !important;
	padding: 0;
}

div.tool {
	text-align: center;

	padding: 1rem;
	margin:  0.5rem;

	border:        solid 1px #ffffff;
	border-radius: 0.2rem;
}

div.tool img {
	display: block;
	margin:  0 auto;

	width:  3em;
	filter: invert(100%) brightness(1000%);
}

div.tool p {
	color: #ffffff;
}

div.tool p.title {
	margin-top:    0.7rem;
	margin-bottom: 0.5rem;

	font-weight: bold;
	font-size:   1.2rem !important;
}

div.tool p.title a {
	color: #ffffff !important;
}

div.tool p.title a:hover {
	color:            #000000 !important;
	background-color: #ffffff !important;
}

div.tool.tool-light p {
	color: #000000;
}

div.tool.tool-light p.title a {
	color: #000000 !important;
}

div.tool.tool-light p.title a:hover {
	color:            #ffffff !important;
	background-color: #000000 !important;
}

div.tool#tool-linux img {
	content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/linux/linux-plain.svg");
}

div.tool#tool-linux {
	background-color: var(--color-tool-linux);
}

div.tool#tool-micro img {
	content: url("https://micro-editor.github.io/micro_files/micro-logo-mark.svg");
}

div.tool#tool-micro {
	background-color: var(--color-tool-micro);
}

div.tool#tool-c img {
	content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-plain.svg");
}

div.tool#tool-c {
	background-color: var(--color-tool-c);
}

div.tool#tool-cxx img {
	content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-plain.svg");
}

div.tool#tool-cxx {
	background-color: var(--color-tool-cxx);
}

div.tool#tool-golang img {
	content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/go/go-plain.svg");
}

div.tool#tool-golang {
	background-color: var(--color-tool-golang);
}

div.tool#tool-lua img {
	content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/lua/lua-plain.svg");
}

div.tool#tool-lua {
	background-color: var(--color-tool-lua);
}

div.tool#tool-html img {
	content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-plain.svg");
}

div.tool#tool-html {
	background-color: var(--color-tool-html);
}

div.tool#tool-css img {
	content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-plain.svg");
}

div.tool#tool-css {
	background-color: var(--color-tool-css);
}

div.tool#tool-pascal img {
	content: url("/res/imgs/pascal.png");
}

div.tool#tool-pascal {
	background-color: var(--color-tool-pascal);
}
